@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* ======== CSS Reset from Josh Comeau ======== */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  /* line-height: 1.3; */
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
/* img, */
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ======== Global ======== */
:root {
  --mobile-breakpoint: 375px;
  --desktop-breakpoint: 1440px;
  --purple-15: hsla(254, 88%, 90%, 0.15);
  --purple-25: hsla(254, 88%, 90%, 0.25);
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --item-width: 232px;
  --grid-gap: 32px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  counter-reset: grid-items;
  padding: 1rem;
  background-color: #f5f5f5;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  /* padding: 0 16px; */
}

/* ======== Grid ======== */

.bento-grid {
  display: grid;
  gap: var(--grid-gap);
}

.bento-grid-item {
  background-color: blanchedalmond;
  border-radius: 8px;
  padding: 32px;
}

/* .bento-grid-item::before {
  counter-increment: grid-items;
  content: "Section " counter(grid-items) ". ";
} */

/* Mobile grid (no specific columns/rows) */
.bento-grid {
  grid-template-areas: unset;
}

.subgrid-1,
.subgrid-2,
.subgrid-3 {
  display: grid;
  gap: var(--grid-gap);
}

.subgrid-1 {
  order: 2;
}

.subgrid-2 {
  order: 0;
}

.subgrid-3 {
  order: 1;
}

.subgrid-3 > div:first-child {
  order: 1;
}
.subgrid-3 > div:last-child {
  order: 0;
}

/* Desktop grid (min-width: 1024px) */
@media screen and (min-width: 1024px) {
  .subgrid-3 > div:first-child {
    order: 0;
  }
  .subgrid-3 > div:last-child {
    order: 1;
  }

  .bento-grid {
    grid-template-areas:
      "subgrid1 subgrid2"
      "subgrid1 subgrid3";
  }

  .bento-grid-item:not(.wide-item) {
    min-width: var(--item-width);
    min-height: var(--item-width);
  }

  .subgrid-1 {
    grid-area: subgrid1;
    grid-template-rows: 1fr 1fr;
  }

  .subgrid-2 {
    grid-template-areas:
      "fiveStars fiveStars schedule"
      "platforms consistentSchedule schedule";
  }

  .subgrid-3 {
    grid-area: subgrid3;
    grid-template-columns: auto 2fr;
  }

  #five-stars {
    grid-area: fiveStars;
  }

  #schedule {
    grid-area: schedule;
  }

  #consistent-schedule {
    grid-area: consistentSchedule;
  }

  #platforms {
    grid-area: platforms;
  }
}

/* ======== Grid Items' styles 1 ======== */
#five-stars {
  background-color: var(--purple-500);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  text-align: center;
}
#five-stars h2 {
  font-size: 48px;
  line-height: 57px;
}
#five-stars h2 span {
  color: var(--yellow-500);
}
#five-stars img {
  width: 200px;
  margin-top: 16px;
  margin-bottom: 4px;
}
#five-stars img + span {
  font-weight: 500;
}

/* ======== Grid Items' styles 2 ======== */
#create-post {
  background-color: var(--purple-100);
  text-align: left;
  padding: 24px;
  align-content: center;
  z-index: 10;
  position: relative;
  overflow: hidden;
}

#create-post::before {
  background-color: var(--yellow-100);
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
  animation: slide-in 0.4s ease-in-out backwards;
}

@keyframes slide-out {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@keyframes slide-in {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

#create-post:hover::before {
  animation: slide-out 0.4s ease-in-out forwards;
}

#create-post > div {
  position: relative;
}

#create-post p {
  font-size: 32px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: -2px;
  width: 80%;
}

#create-post i {
  color: var(--purple-500);
}

#create-post button {
  background-color: var(--yellow-500);
  border-radius: 50px;
  height: 65px;
  width: calc(var(--item-width) - 24px);
  border: none;
  color: var(--purple-500);
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  border-inline-end: 1px solid #454545;
  border-block-end: 5px solid #454545;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

#create-post button + svg {
  position: absolute;
  left: 40%;
  top: 70%;
  animation: clickButtonReverse 0.3s ease forwards;
}
#create-post button:hover {
  border-inline-end: 0px solid #454545;
  border-block-end: 2px solid #454545;
  transform: translateY(3px);
}

#create-post button:hover + svg {
  animation: clickButton 0.2s ease forwards;
}

@keyframes clickButton {
  from {
    left: 40%;
    top: 70%;
  }
  to {
    left: 45%;
    top: 72%;
  }
}
@keyframes clickButtonReverse {
  from {
    left: 45%;
    top: 72%;
  }
  to {
    left: 40%;
    top: 70%;
  }
}

/* ======== Grid Items' styles 3 ======== */
#ai-content {
  background-color: var(--yellow-500);
  text-align: left;
  padding: 24px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#ai-content h3 {
  font-size: 32px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: -2px;
}

/* ======== Grid Items' styles 4 ======== */
#platforms {
  padding: 24px;
  background-color: var(--white);
  text-align: left;
  overflow: hidden;
  position: relative;
}

#platforms p {
  font-size: 26px;
  font-weight: 600;
  color: var(--black);
  line-height: 0.9;
  align-self: baseline;
  position: absolute;
  inset: 24px;
  top: auto;
}
#platforms img {
  width: 120%;
  box-shadow: -4px 19px 15px 6px var(--purple-15);
  border-radius: 40px;
  position: absolute;
  left: 10%;
  top: 30px;
  transition: box-shadow 0.3s ease;
}
#platforms img:hover {
  box-shadow: -4px 19px 20px 16px var(--purple-25);
}

/* ======== Grid Items' styles 5 ======== */
#consistent-schedule {
  padding: 24px;
  background-color: var(--yellow-500);
  text-align: left;
  overflow: hidden;
  position: relative;
}

#consistent-schedule p {
  font-size: 26px;
  font-weight: 600;
  color: var(--black);
  line-height: 0.9;
  align-self: baseline;
}
#consistent-schedule img {
  box-shadow: -4px 19px 15px 6px var(--purple-50);
  width: calc(var(--item-width) - 48px);
  position: absolute;
  bottom: -56px;
}

/* ======== Grid Items' styles 6 ======== */
#schedule {
  display: flex;
  flex-direction: column;
  background-color: var(--purple-100);
  padding: 48px 24px;
  position: relative;
  overflow: hidden;
}

#schedule h3 {
  font-size: 29px;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 0.9;
}
#schedule img {
  width: 160%;
  left: 11%;
  position: relative;
  margin-block: 20px;
}
#schedule p {
  font-size: 16px;
  line-height: 1;
}

/* ======== Grid Items' styles 7 ======== */
#audience-growth {
  padding: 24px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#audience-growth h3 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
}
#audience-growth img {
  width: calc(var(--item-width) - 48px);
}
#audience-growth p {
  font-size: 16px;
}

/* ======== Grid Items' styles 8 ======== */
#followers {
  display: flex;
  align-items: center;
  background-color: var(--purple-500);
  padding: 24px;
  position: relative;
  z-index: 10;
  /* overflow: hidden; */
}
#followers::before {
  background-color: var(--purple-100);
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
  animation: closeBG 0.4s ease-in-out backwards 0.1s;
}

@keyframes openBG {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes closeBG {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

#followers:hover::before {
  animation: openBG 0.4s ease-in-out forwards;
}

#followers h3 {
  color: var(--white);
  font-size: 32px;
  flex-basis: 1;
  line-height: 1;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
}
#followers:hover h3 {
  color: var(--black);
}
#followers img {
  width: 46%;
}

/* ======== Utilities ======== */
.img-responsive {
  max-width: 100%;
  height: auto;
}

.scale-img img {
  transition: all 0.2s ease-in-out;
}

.scale-img:hover img {
  scale: 1.02;
}

/* ======== Footer ======== */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
