@keyframes openBG {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes closeBG {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes clickButton {
  from {
    left: 40%;
    top: 70%;
  }
  to {
    left: 45%;
    top: 72%;
  }
}
@keyframes clickButtonReverse {
  from {
    left: 45%;
    top: 72%;
  }
  to {
    left: 40%;
    top: 70%;
  }
}

@keyframes slide-out {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@keyframes slide-in {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .bento-grid {
    display: grid;
    gap: var(--grid-gap);
    padding-top: 32px;
  }

  .bento-grid {
    grid-template-areas:
      "subgrid1 subgrid2"
      "subgrid1 subgrid3";
  }

  .bento-grid-item:not(.wide-item) {
    min-width: var(--item-width);
    min-height: var(--item-width);
  }

  .subgrid-1 {
    grid-area: subgrid1;
    grid-template-rows: 1fr 1fr;
  }

  .subgrid-2 {
    grid-template-areas:
      "fiveStars fiveStars schedule"
      "platforms consistentSchedule schedule";
  }

  .subgrid-3 {
    grid-area: subgrid3;
    grid-template-columns: 1fr 2fr;
  }

  #five-stars {
    grid-area: fiveStars;
  }

  #schedule {
    grid-area: schedule;
  }

  #consistent-schedule {
    grid-area: consistentSchedule;
  }

  #platforms {
    grid-area: platforms;
  }

  #platforms {
    padding: 24px;
  }

  #platforms img {
    width: 120%;
    position: absolute;
    left: 10%;
    top: 30px;
    max-width: unset;
    height: unset;
    transition: box-shadow 0.3s ease;
  }

  #platforms img:hover {
    box-shadow: -4px 19px 20px 16px var(--purple-25);
  }

  #platforms p {
    position: absolute;
    inset: 24px;
    top: auto;
  }

  #consistent-schedule {
    padding: 24px;
    position: relative;
  }

  #consistent-schedule p {
    margin-bottom: unset;
  }

  #consistent-schedule img {
    width: calc(100% - 48px);
    position: absolute;
    bottom: -56px;
    height: unset;
    max-width: unset;
    margin-bottom: unset;
  }

  #schedule {
    padding: 48px 24px;
    position: relative;
    text-align: left;
    gap: 0;
  }

  #schedule h3 {
  }
  #schedule img {
    width: 160%;
    left: 11%;
    position: relative;
    margin-block: 20px;
  }
  #schedule p {
    width: 100%;
  }
  #followers {
    flex-direction: row;
    text-align: left;
    padding: 24px;
  }
  #followers::before {
    background-color: var(--purple-100);
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
    animation: closeBG 0.4s ease-in-out backwards 0.1s;
  }

  #followers h3 {
    transition: color 0.4s ease-in-out;
  }

  #followers:hover h3 {
    color: var(--black);
  }
  #followers img {
    width: 46%;
    margin-bottom: 0;
  }
  #followers:hover::before {
    animation: openBG 0.4s ease-in-out forwards;
  }

  #create-post {
    background-color: var(--purple-100);
    padding: 24px;
  }
  #create-post p {
    margin-bottom: 16px;
  }
  #create-post button + svg {
    position: absolute;
    left: 40%;
    top: 70%;
    animation: clickButtonReverse 0.3s ease forwards;
  }
  #create-post button:hover {
    border-inline-end: 0px solid #454545;
    border-block-end: 2px solid #454545;
    transform: translateY(3px);
  }
  #create-post::before {
    background-color: var(--yellow-100);
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
    animation: slide-in 0.4s ease-in-out backwards;
  }
  #create-post:hover::before {
    animation: slide-out 0.4s ease-in-out forwards;
  }
  #create-post button:hover + svg {
    animation: clickButton 0.2s ease forwards;
  }

  #ai-content h3 {
    margin-bottom: 16px;
    width: 100%;
  }
  #ai-content img {
    width: 100%;
  }
  .scale-img img {
    transition: all 0.2s ease-in-out;
  }

  .scale-img:hover img {
    scale: 1.02;
  }
}
